<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NuGetFeedManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
  </startup>
  <applicationSettings>
    <NuGetFeedManager.Properties.Settings>
      <setting name="IncludePreRelease" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FeedApiKey" serializeAs="String">
        <value>VSTS</value>
      </setting>
      <setting name="FeedToCompareUri" serializeAs="String">
        <value>https://api.nuget.org/v3/index.json</value>
      </setting>
      <setting name="FeedUri" serializeAs="String">
        <value />
      </setting>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="Token" serializeAs="String">
        <value />
      </setting>
    </NuGetFeedManager.Properties.Settings>
  </applicationSettings>
</configuration>
